@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=STIX+Two+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Concert+One&family=STIX+Two+Math&display=swap');
.app-title{
    text-align: center;
    /* border:1px solid black; */
    font-family: 'Londrina Solid', cursive;
    font-size: 80px;
    color: white
}
.section1{
    text-align: center;
    /* border:1px solid black; */
    margin-top: 10px;
    margin-bottom: 20px;
}
.section2{
    /* border:1px solid black; */
    margin-bottom: 50px;
    
}

body{
    background-image: url("icons/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.cards1{
    background-color: teal;
}